.wrapper{
    width: 90%;
    text-align: center;
    margin: auto;
}
button{
    width: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(239, 132, 132);
    color:rgb(20, 3, 3);
    font-size: 18px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    background-color:rgb(242, 109, 109);
    color:rgb(20, 3, 3);
    border-radius: 10px;
    width: 100%;
    padding: 2px 4px;
}
.accordian {
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 24px;

}